
h1{
    color: rgba(185, 20, 20, 0.678);
    text-align: center;
}

.center{
    text-align: center;
}

button{
    text-align: center;
}

form{
    width: 50%;
    margin: auto;
    display: block;

}
