body{
margin: 0px;
padding: 0px;
font-family: sans-serif;
}

#banner{
    width: 100%;
}

.titulo-principal{
text-transform: uppercase;
text-align: center;
color: white;
background-color: #8B0000;
padding: 50px;
margin: 0px;
}

.titulo2{
    color: rgb(243, 8, 8);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.principal{
background-color: rgb(241, 154, 154);
padding: 30px;
}