body{
margin: 0px;
padding: 0px;
}

#banner{
    width: 100%;
}

.titulo-principal{
text-transform: uppercase;
text-align: center;
color: rgba(17, 17, 17, 0);
background-color: #8B0000;
padding: 50px;
}