body{
margin: 0px;
padding: 0px;
font-family: sans-serif;
}

#banner{
    width: 100%;
}

.titulo-principal{
text-transform: uppercase;
text-align: center;
color: rgb(26, 1, 1);
background-color:rgb(241, 154, 154);
padding: 50px;
margin: 0px;
}

.titulo2{
    color: rgb(247, 75, 75);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.principal{
background-color: rgb(241, 154, 154);
padding: 30px;
margin: 0px;
}
.beneficios{
    background-color: rgb(241, 154, 154);
padding: 30px;
margin: 0px
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 22px;
    line-height: 1.5;
}
.itens{
    font-style: italic;
}
.imagembenificios{
    width: 50%;
}